/.gitignore
/Assembly_Manual/*swp
/Assembly_Manual/*.log
/Assembly_Manual/*.toc
/Assembly_Manual/*.aux
/Assembly_Manual/*.lot
/Assembly_Manual/*.synctex.gz
/Assembly_Manual/*.lof
/Assembly_Manual/*.out
/Assembly_Manual/*.synctex(busy)
/Assembly_Manual/Sections/*.aux
/Assembly_Manual/Sections/*swp
/Assembly_Manual/Sections/*.log
/Assembly_Manual/Sections/*.toc
/Assembly_Manual/Sections/*.lot
/Assembly_manual/Sections/*.synctex.gz
/Assembly_manual/Sections/*.lof
/Assembly_manual/Sections/*.out
/Assembly_manual/Sections/*.synctex(busy)
