/Assembly_Manual/main.log
/Assembly_Manual/main.toc
/Assembly_Manual/main.aux
/Assembly_Manual/main.lot
/Assembly_Manual/main.synctex.gz
/Assembly_Manual/main.lof
/Assembly_Manual/main.out
/Assembly_Manual/Manual.synctex(busy)
